@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Playwrite+PT+Guides&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-karla: 'Karla', sans-serif;
    --color-light-coffee: #C89F94
}

/* hiệu ứng khi hover vào thì có một animations chạy đến hết chữ */
.vlp-top-menu-item {
    @apply cursor-pointer py-1 hover:text-gray-800 relative after:absolute after:bottom-0 after:left-0 after:bg-light-coffee 
    after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}

.vlp-icon {
    @apply w-5 h-5 inline-block;
}

.vlp-badge-circle {
    @apply text-xs text-center rounded-full px-1.5;
}