@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Playwrite+PT+Guides&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-karla: 'Karla', sans-serif;
    --animate-slide-down: slideDown .5s ease-in-out;
    --animate-fade-in: fadeIn .5s ease-in-out;

    --color-coffee-50: #E8D6D0;
    --color-coffee-200: #C89F94;
    --color-coffee-400: #A25F4B;
    --color-coffee-600: #744838;

    @keyframes slideDown {
        0% { transform: translateY(-100%); }
        100% { transform: translateY(0); }
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

.vlp-top-menu-expanded {
    @apply absolute top-10 z-50 w-full text-center bg-white animate-slide-down;
}

/* hiệu ứng khi hover vào thì có một animations chạy đến hết chữ */
.vlp-top-menu-item {
    @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 
    after:lg:h-0.5 after:lg:w-0 hover:lg:after:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.vlp-top-menu-item-active {
    @apply text-gray-800;
}

.vlp-icon {
    @apply w-5 h-5 inline-block;
}

.vlp-badge-circle {
    @apply text-xs text-center rounded-full px-1.5;
}

.vlp-subheadline {
    @apply flex justify-center items-center mb-24;
}

.vlp-subheadline-deco-line {
    @apply w-8 h-px bg-gray-200;
}

.vlp-subheadline-label {
    @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}

.vlp-button {
    @apply text-center uppercase tracking-widest py-4 px-8 text-sm font-semibold cursor-pointer hover:opacity-95;
}

.vlp-footer-link {
    @apply hover:text-coffee-400;
}